body {
  background-image: url("stones.jpg");
}

h1 {
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  background: rgba(127,127,127,0.7);
}

h3 {
  text-align: center;
  text-shadow: 1px 1px 1px white;
  background: rgba(127,127,127,0.7);
}

h4 {
  margin-left: 35%;
  margin-right: 35%;
  font-size: 30px;
  text-shadow: 2px 2px 5px red, 3px 3px 5px  green, 4px 4px 5px blue;
  background: rgba(127,127,127,0.4);
}

p {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  text-shadow: 3px 3px 3px white;
  background: rgba(127,127,127,0.7);
  border-radius: 12px;
}

img {
  display: block;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}
